* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: khaki;
  padding: 1rem;
}

header > h1 {
  font-family: "Brush Script MT", cursive;
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

nav > button {
  font: inherit;
  font-size: clamp(1rem, 2vw, 2rem);
  color: black;
  background: none;
  border: none;
  border-bottom: 4px solid transparent;
}

nav > button:hover {
  border-bottom: 4px solid goldenrod;
}

#content {
  display: grid;
  place-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: min(100vw, 1000px);
}

.home > img {
  border: 1rem solid goldenrod;
  border-radius: 1rem;
}

.home > p {
  text-align: justify;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.item {
  width: min(100vw - 2rem, 500px);
  text-align: center;
  border: .5rem solid goldenrod;
  border-radius: .5rem;
  padding: .5rem;
}

.item > img {
  width: 100%;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.owner {
  width: min(100vw - 2rem, 750px);
  border: .5rem solid goldenrod;
}

.owner > img {
  width: 100%;
}

.owner > h2,
.owner > p {
  padding: 1rem;
}